/* 1. This animation will start when the page is loaded and will gradually 
increase the width of the logo from 25px to 475px while simultaneously 
transitioning the opacity from 0 to 1 over a period of 5 seconds */
@keyframes logoAnimation {
    0% {
        width: 25px;
        opacity: 0;
    }
    100% {
        width: 475px;
        opacity: 1;
    }
}
#logo {
    animation: logoAnimation 5s forwards;
}

/* 2. Edit the body element to use the Poppins font (using Google fonts) with 
serif as a backup.  Also uses the image “concrete_seamless.png” as a 
background-image with a backup color of #f1f1f1. */
body {
    font-family: "Poppins", sans-serif;
    background-image: url(../images/concrete_seamless.png);
    background-color: #f1f1f1;
}
/* 3. Edits the header tag (all instances) to use flex to match the
example. */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 4. Edits the nav_links class to use flex to match the example. Uses column flex direction */
.nav_links{
    display: flex;
    flex-direction: column;
}

/* 5. Style the links so that they have the same color even after they have
been visited */
a,
a:visited {
  color: #3366cc; /* Set the same color for normal and visited links */
}
a:hover {
  text-decoration: underline; /* Add underline on hover */
}

 /* 6. Use '>' selector to access specific elements. Use border radius top-left and top-right to 
 make curves*/
.card > header {
    background: #288088;
    border: 2px solid #45ADAD;
    padding: 20px 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
/* 7. Had to perform same radius on the card selectors to match the example.  */
.card {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    flex: 0 0 450px; 
    /*  specifies a flex-grow factor of 0, a flex-shrink factor of 0, 
    and an initial main size of 450px for each card. */
    overflow: hidden; 
}
/* 8. Using flex to match the example. flex-wrap: wrap is helping the most */
.pricing {
    display: flex;
    justify-content: center; /* Centers cards horizontally */
    align-items: center; /* Centers cards vertically */
    flex-wrap: wrap;
  }
/* 9. Matching gallery images to the example, had to make the dimensions the same throughout */
.gallery img {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
    height: 200px;
}
/* 10. Styles "gallery" elements as a flex container with wrapped rows, evenly spaced items,
and vertically centered content within each row.*/
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

@media screen and (min-width: 900px) {
    /* 11. Aligns items in the header horizontally with space between them, 
    and items in .nav_links horizontally in a row */
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    } 
    .nav_links {
        display: flex;
        flex-direction: row;
    }
    /* 12. Sets the pricing section to display its contents in a single row without wrapping,
   and each card within the section to have a fixed width of 275px */
    .pricing {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap; 
    }
    .card {
        flex: 0 0 275px;
    }

    /* 13. Styles the first header element that is not a descendant of the main element 
    to be fixed at the top of the viewport and span the entire width with flexbox layout */
    header:first-of-type:not(main header)  {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

}
@media (prefers-reduced-motion: reduce) {
    /* 14. Removes animation from the logo */
    #logo {
        animation: none;
    }
}
/* CSS for print view in portrait mode */
@media print {
    /* 15. New fonts and removes background image */
    body {
      font-family: Arial, Helvetica, sans-serif;
      background-image: none;
    }
    /* 16. Removes gallery header and whole section */
    .gallery {
        display: none;
    }
    /* 17.  Sets navigation links to flex container, aligns them in a row,
    removes padding. Adds right and left margin to each nav_item. */
    .nav_links {
        display: flex;
        flex-direction: row;
        padding: 0;
    }
    .nav_item {
        margin: 0 50px 0 50px
    }
    /* 18.  */
    .pricing {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    /* 19. Gives the cards a border*/
    .card {
        border: 2px solid #45ADDD;
        flex-basis: 325px;
    }
    /* 20. Removes Gallery header */
    h2 {
        display: none;
    }
}
